**/.DS_Store
src/**/*.pdf
pdf/**/*.tex
**.log
**.aux
**.out
**.toc
**.nav
**.snm
**.gz
**.fls
**.glg
**.glo
**.gls
**.ist
**.lot
**.lof
**.fdb_latexmk
**.synctex.gz
**.vscode
src/scripts/analisi_stato_issues/.env
src/scripts/analisi_stato_issues/issues.py
